.custom-multiselect-container .mantine-MultiSelect-pillsList {
    display: none !important; /* Hides the selected pills/tags */
}
.custom-multiselect-container .mantine-MultiSelect-inputField {
    width: 100% !important; /* Make search input fill the space */
}

.dmc-bar {
    background-image: linear-gradient(to right, yellow, orange);
}

.dmc-thumb {
    border-color: orange;
    height: 20px;
    width: 20px;
    background-color: white;
}